.bar {
    overflow: hidden;
    background-color: #fdfdfd;
    font-family: "Lilita One", sans-serif; 
    font-size: 4rem;
    color: #000000;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
body{
    background-color: #E4E6E6;
    font-family: "Madimi One", sans-serif; color: #313030;
    /* A bold sans-serif font is choosen to match with the style of alnnn.com so as the choice of colour. */
    background-image: url(Screen\ Shot\ 2024-04-14\ at\ 3.23.04\ PM.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* To make the navbar stay to the top of the site */
    background-size: 60%;
    background-position: center;
    /* Used the human figure on the designer's website as the background, to reinforce that 
    the site is a response of his portfolio. */
}
.title {
    background-color: #fdfdfd;
    width:100%;
    height:150px;
    position: fixed;
    top:0;
    padding-top: 25px;
}
footer {
    background-color: #fdfdfd;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 18px;
    bottom:0; 
    /* For no extra grey gap below the footer */
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    font-size: 1.3rem;
    color: #F6894B;
    /* Orange is one of the few bright colours used on alnnn.com I want to use it as a highlight of the site
    also I think it does a good match with the colour grey. */
}
h1{
    font-size: 4rem;
    color: #000000;
    font-family: "Lilita One", sans-serif;
    padding-left: 90px;
    /* h1, h2 and all boxex will be aligned on the same line */
}
 main {
    padding-top: 150px;
    padding-left: 90px;
}
h2{
    font-style: italic;
    color: #F6894B;
    font-size: 1.3rem;
    padding-bottom: 20px;
    padding-left: 90px;
}
h3{ 
    font-size: 1.5rem;
    color: #232323;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    padding-top: 30px;
}
p{
    color: #333333;
    margin-left: 27px;
    /* Made the paragraph to align with the question instead of the number to make the numbers to standout. */
    margin-top: 15px;
}
/* Two colours are used for the boxes to seperate each paragraph, also add some extra orange tot he site. */
/* The height of each boxes differs so all text have the same top and bottom margin */
.box1{
    background-color: #fdfdfd;
    height: 180px;
    width: 1155px;
    padding-left: 30px;
}
.box2{
    background-color: #fff6f0;
    height: 200px;
    width: 1155px;
    padding-left: 30px;
}
.box3{
    background-color: #fdfdfd;
    height: 160px;
    width: 1155px;
    padding-left: 30px;
}
.box4{
    background-color: #fff6f0;
    height: 200px;
    width: 1155px;
    padding-left: 30px;
}
.box5{
    background-color: #fdfdfd;
    height: 180px;
    width: 1155px;
    padding-left: 30px;
}
.box6{
    background-color: #fff6f0;
    height: 160px;
    width: 1155px;
    padding-left: 30px;
}
.box7{
    background-color: #fdfdfd;
    height: 170px;
    width: 1155px;
    padding-left: 30px;
}
.box8{
    background-color: #fff6f0;
    height: 200px;
    width: 1155px;
    padding-left: 30px;
}
.box9{
    background-color: #fdfdfd;
    height: 170px;
    width: 1155px;
    padding-left: 30px;
}
.box10{
    background-color: #fff6f0;
    height: 190px;
    width: 1155px;
    padding-left: 30px;
}
.box11{
    background-color: #fdfdfd;
    height: 180px;
    width: 1155px;
    padding-left: 30px;
}
.box12{
    background-color: #fff6f0;
    height: 160px;
    width: 1155px;
    padding-left: 30px;
}
.box13{
    background-color: #fdfdfd;
    height: 160px;
    width: 1155px;
    padding-left: 30px;
}
  