body {
    background-color: darkred;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #e5e5cb;
    /* color: #3c2a21; */
    gap: 1.5rem;
   
  }

.rules{
    background-color: bisque;
    width: 450px;
    padding: 35px 40px;
    position: absolute;
    left: 35%;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    top: 250px;
    color: black;
    border: black;
}

.rules h1{
    font-family: seymour one;
    font-size: 1.5rem;
}

.rules p{
    font-family: rubik;
    margin: 20px;
    line-height: 23px;
}

.rules button{
    font-family: seymour one;
    background-color: darkred;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 7px;
    border: none;
    
}
  .title{
    font-family: seymour one;
    font-size: 3rem;
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .box{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: rubik;
    height: 520px;
  }
  
  .left {
    cursor: pointer;
    width: 305px;
    min-height: 850px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
  .centre {
    border: 4px dashed #e5e5cb7a;
    cursor: pointer;
    width: 800px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    border-radius: 10px
  }

  .right {
    cursor: pointer;
    width: 305px;
    min-height: 850px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
  }
 
  .item1{
    width: 200px;
    rotate: 10deg;
 }

 .item2{
    width: 200px;
    rotate: 20deg;
 }

 .item3{
    width: 200px;
    rotate: 340deg;
 }

  .item4{
    width: 200px;
    rotate: 15deg;
 }

 .item5{
    width: 200px;
    rotate: 350deg;
 }

 .item6{
    width: 200px;
    rotate: 10deg;
 }

 .position1{
    width: 330px;
 }

 .position2{
    width: 330px;
    padding-top: 55px;
 }

 .position3{
    width: 330px;
    padding-top: 70px;
 }


